# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
TODO
demo.png

# Playlists (seront gérées par volume)
_playlists/*

# Fichiers temporaires
nul
*.tmp
*.log

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
